Localization
{
	ru
	{
		// Sarnus
		#LOC_OPX-SP_Sarnus_Name = Сарнус^N
        #LOC_OPX-SP_Sarnus_Desc = Ранее астрономы полагали, что Сарнус на самом деле был множеством планет, вращающихся вместе на близких орбитах. Когда они очистили свои телескопы, они поняли, что эти дополнительные планеты на самом деле были тонкими кольцами, вращающимися вокруг Сарнуса. После этого стала обязательной регулярная чистка линз телескопов. 
        #LOC_OPX-SP_Sarnus_Biome_PH = Полярный шестиугольник 
		#LOC_OPX-SP_Sarnus_Biome_PZ = Полярные зоны 
		#LOC_OPX-SP_Sarnus_Biome_TB = Пояса умеренного климата
		#LOC_OPX-SP_Sarnus_Biome_TZ = Умеренные зоны 
		#LOC_OPX-SP_Sarnus_Biome_EZ = Экваториальная зона 
		#LOC_OPX-SP_Sarnus_Biome_TrB =  Тропические полосы
		#LOC_OPX-SP_Sarnus_Biome_TrZ = Тропические зоны
		#LOC_OPX-SP_Sarnus_Biome_GWS = Большое Белое Пятно
        
        // Vizak
		#LOC_OPX-SP_Vizak_Name = Визак^M
		#LOC_OPX-SP_Vizak_Desc = Визак — это маленькая луна, вращающаяся внутри колец Сарнуса, которая служит для поддержания в нужной форме его колец. Откуда мы вообще знаем о существовании этой штуковины? Эээ... з- за- заткнись.
		#LOC_OPX-SP_Vizak_Biome_S = поверхность^f
		#LOC_OPX-SP_Vizak_Biome_ER = экваториальный хребет^m
		
		// Ryla
		#LOC_OPX-SP_Ryla_Name = Рила^F
		#LOC_OPX-SP_Ryla_Desc = Наряду с Хейлом и Визаком, Рила — небольшая луна, которая пасёт частицы колец Сарнуса. Хоть её орбита и находится на самом краю колец, о ней мало что можно сказать, пока мы сами туда не наведаемся.
		#LOC_OPX-SP_Ryla_Biome_P = полюса^pm
		#LOC_OPX-SP_Ryla_Biome_TR = умеренные регионы^pm
		#LOC_OPX-SP_Ryla_Biome_H = высокогорье^n
		#LOC_OPX-SP_Ryla_Biome_IC = ударный кратер^m

        // Hale
        #LOC_OPX-SP_Hale_Name = Хель^N
        #LOC_OPX-SP_Hale_Desc = Эта маленькая луна, вращающаяся в кольцах Сарнуса, названа в честь Хель, женщины-пастушки из мифологии Кербала, которая спасла галактику от неминуемого разрушения. Его расположение в кольцах Сарнуса обеспечивает одни из лучших видов в системе Кербол. 
        #LOC_OPX-SP_Hale_Biome_M = Макула
        #LOC_OPX-SP_Hale_Biome_AR = Регион Амариус
		
		// Masmar
		#LOC_OPX-SP_Masmar_Name = Масмар^M
		#LOC_OPX-SP_Masmar_Desc = После бесчисленных попыток удалить грязную пылинку со снимков Сарнуса один отважный астроном, впоследствии переведенный в программу испытательных полетов, указал, что это, вероятно, луна. Поверхность Масмара спокойна, но изрыта, с заметной чертой поверхности - экваториальным кратером, явно заметным даже на большом расстоянии. Это абсолютно точно обычный кратер, а не что-либо иное. Прям обычный. Ага.
		#LOC_OPX-SP_Masmar_Biome_SC = кратер Суверенный^m
		#LOC_OPX-SP_Masmar_Biome_SCP = пик кратера Суверенный^m
		#LOC_OPX-SP_Masmar_Biome_KC = кратер Кесселя^m
		#LOC_OPX-SP_Masmar_Biome_KCR = край кратера Кесселя^m
		#LOC_OPX-SP_Masmar_Biome_KCCP = центральная яма кратера Кесселя^f
		#LOC_OPX-SP_Masmar_Biome_PB = полярные бассейны^pm
		#LOC_OPX-SP_Masmar_Biome_L = низины^pf
		#LOC_OPX-SP_Masmar_Biome_M = равнины^pf
		#LOC_OPX-SP_Masmar_Biome_H = высокогорье^n

        // Ovok
		#LOC_OPX-SP_Ovok_Name = Овок^N
        #LOC_OPX-SP_Ovok_Desc = Характерная гладкая форма яйца Овока вызвана приливной силой, оказываемой гравитацией Сарнуса и Овока. Это привело ученых к мысли, что луна должна состоять из ледяного пуха, который легко сжимается и расширяется, в результате чего на ландшафте нет глубоких ударных кратеров. Луну назвали в честь Овока, мифологического зверя, известного своим мягким мехом и когтями, похожими на бритву. 
        #LOC_OPX-SP_Ovok_Biome_MO = Макула Продолговатая
        #LOC_OPX-SP_Ovok_Biome_TR = Регион Таси
		
		// Encethys
		#LOC_OPX-SP_Encethys_Name = Энцетис^M
		#LOC_OPX-SP_Encethys_Desc = Из-за открытия в одно время с Плоцком, квадратные головы, отвечающие за каталогизацию астрономических открытий, перепутали записи двух небесных тел, что привело к тому, что в течение многих лет одно из них путали с другим. Поверхность Энцетиса очень гладкая и почти лишена крупных кратеров, что может быть результатом криовулканической активности. Это может означать, что под замерзшей корой луны находится жидкий океан.
		#LOC_OPX-SP_Encethys_Biome_L = низины^pf
		#LOC_OPX-SP_Encethys_Biome_M = равнины^pf
		#LOC_OPX-SP_Encethys_Biome_H = высокогорье^n
		#LOC_OPX-SP_Encethys_Biome_LC = кратер Одинокий^m
		#LOC_OPX-SP_Encethys_Biome_LCP = пики кратера Одинокий^pm
		
		// Eeloo
		#LOC_OPX-SP_Eeloo_Desc = Третья крупная луна Сарнуса, Илу, представляет собой довольно стандартный шар из камня и льда, поверхность которого растрескалась из-за приливных взаимодействий между Сарнусом и его сестрой-луной Слейт. Когда-то предполагалось, что на планете есть подледниковый океан, но теперь ученые сходятся во мнении, что это имеет больше смысла для Энцетиса, в результате чего Илу оказывается гораздо более скучным, чем изначально считалось.
		
		// Hypo
		#LOC_OPX-SP_Hypo_Name = Гипо^m
		#LOC_OPX-SP_Hypo_Desc = Комкофатый
		#LOC_OPX-SP_Hypo_Biome_P = ямы^pf
		#LOC_OPX-SP_Hypo_Biome_H = высокогорье^n
		#LOC_OPX-SP_Hypo_Biome_L = низины^pf
		
		// Phabus
		#LOC_OPX-SP_Phabus_Name = Фабус^M
		#LOC_OPX-SP_Phabus_Desc = Фабус — самая внешняя луна Сарнуса, вращающаяся по несколько эллиптической, ретроградной орбите далеко за пределами даже орбиты Гипо. Его темная поверхность хранит множество секретов о прошлом системы Кербола. Более эзотерически, дом богов в древней мифологии Кербала описывался как парящий высоко над самой дальней планетой, которая тогда считалась Сарнусом. Некоторые наркоманы продолжают верить в такие мифы и считают Фабус местом расположения этой мифической структуры.
		#LOC_OPX-SP_Phabus_Biome_IC = ударные кратеры^pm
		#LOC_OPX-SP_Phabus_Biome_L = низины^pf
		#LOC_OPX-SP_Phabus_Biome_M = равнины^pf
		#LOC_OPX-SP_Phabus_Biome_S = склоны^pm
		#LOC_OPX-SP_Phabus_Biome_H = высокогорье^n
		#LOC_OPX-SP_Phabus_Biome_P = пики^pm
		
		// Surface biome of all pseudobodies
		#LOC_OPX-SP_Common_Biome_S = поверхность^f
		
		// Egin
		#LOC_OPX-SP_Egin_Name = I3-Эгин
		#LOC_OPX-SP_Egin_Desc = Эгин — очень маленький объект, вращающийся внутри так называемого кольца Эгина, образованного пылью, выбитой с его поверхности микрометеорными ударами. Это кольцо очень разреженное и, как правило, видно только в контровом свете.
		
		// Palar
		#LOC_OPX-SP_Palar_Name = I4-Палар
		#LOC_OPX-SP_Palar_Desc = Маленький кузен Овока. Эта маленькая луна по характеристикам похожа на Овок и вращается в похожем положении. Я не уверен, знает ли центр что-то ещё о ней.

  		// Seri
    		#LOC_OPX-SP_Seri_Name = I5-Сери
      		#LOC_OPX-SP_Seri_Desc = Одна из немногих троянских лун в системе, Сери — это крошечный камень, удерживаемый на своей орбите сбалансированной гравитацией Слейта и Сарнуса. Крошечный размер Сери означает, что она может служить хорошим местом дозаправки для миссий в глубокий гравитационный колодец Слейта.
		
		// Research Bodies
		#LOC_OPX-SP_RB_Vizak = ЭТО НЛО! МЫ ПОД АТАКОЙ! Погоди, что? Луна? Рядом с Сарнусом? Ох. Эммм. Назовём её... Визак. Да. Точно не случайный набор символов.
		#LOC_OPX-SP_RB_Ryla = Хватит кидать чечевицу на линзу телескопа.
		#LOC_OPX-SP_RB_Masmar = Этот малыш, проносящийся за кольцами Сарнуса, должно быть, в молодости сильно пострадал от этого гигантского кратера.
		#LOC_OPX-SP_RB_Encethys = Эта штука слишком яркая. Наши телескопы не могут различить никаких деталей на ее поверхности. Хотя она определенно сделана изо льда.
		#LOC_OPX-SP_RB_Hypo = Кто закинул эту пемзу в космос? Не думаю, что ей тут место.
		#LOC_OPX-SP_RB_Phabus = Ого, мне повезло, что я нашел эту штуку! Она действительно находится далеко от остальной части лунной системы, я очень надеюсь, что там нет ничего, связанного с инопланетной молекулой.
		
		// Tarsier Tech
		#LOC_OPX-SP_TT_Hale = Посмотрите на этот маленький кусок камня. Такой маленький!
		#LOC_OPX-SP_TT_Vizak = Я думаю, это бургер... в КОСМОСЕ!
		#LOC_OPX-SP_TT_Ryla = ПОЖАЛУЙСТА, перестаньте класть чечевицу перед линзой.
		#LOC_OPX-SP_TT_Masmar = Ого, это чертовски большой кратер.
		#LOC_OPX-SP_TT_Ovok = Ийцо.
		#LOC_OPX-SP_TT_Encethys = Я до сих пор не могу найти никаких деталей на поверхности этой штуки.
		#LOC_OPX-SP_TT_Eeloo = Все еще вызывает ассоциации с карликовой планетой. Не знаю почему.
		#LOC_OPX-SP_TT_Slate = Эта планета не имеет права находиться здесь. Я вижу горы, речные долины и срединно-океанические хребты. Что здесь произошло?
		#LOC_OPX-SP_TT_Tekto = Много зеленых облаков. Интересно, что под ними?
		#LOC_OPX-SP_TT_Hypo = До сих пор не понимаю, почему эта пемза здесь.
		#LOC_OPX-SP_TT_Phabus = Совершенно обычный астероид... агась. Ничего необычного.
		
	}
}
